HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
!.idea/icon.png
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/logs/
/**/.flattened-pom.xml
/logPath_IS_UNDEFINED/alipay-jraft.log
/logPath_IS_UNDEFINED/config-client-request.log
/logPath_IS_UNDEFINED/config-dump.log
/logPath_IS_UNDEFINED/config-fatal.log
/logPath_IS_UNDEFINED/config-memory.log
/logPath_IS_UNDEFINED/config-notify.log
/logPath_IS_UNDEFINED/config-pull.log
/logPath_IS_UNDEFINED/config-pull-check.log
/logPath_IS_UNDEFINED/config-server.log
/logPath_IS_UNDEFINED/config-trace.log
/logPath_IS_UNDEFINED/core-auth.log
/logPath_IS_UNDEFINED/istio-main.log
/logPath_IS_UNDEFINED/nacos.log
/logPath_IS_UNDEFINED/nacos-address.log
/logPath_IS_UNDEFINED/nacos-cluster.log
/logPath_IS_UNDEFINED/naming-distro.log
/logPath_IS_UNDEFINED/naming-event.log
/logPath_IS_UNDEFINED/naming-performance.log
/logPath_IS_UNDEFINED/naming-push.log
/logPath_IS_UNDEFINED/naming-raft.log
/logPath_IS_UNDEFINED/naming-rt.log
/logPath_IS_UNDEFINED/naming-server.log
/logPath_IS_UNDEFINED/protocol-distro.log
/logPath_IS_UNDEFINED/protocol-raft.log
/logPath_IS_UNDEFINED/remote.log
/logPath_IS_UNDEFINED/remote-digest.log
/logPath_IS_UNDEFINED/remote-push.log
/logPath_IS_UNDEFINED/tps-control.log
/logPath_IS_UNDEFINED/tps-control-detail.log
/logPath_IS_UNDEFINED/tps-control-digest.log
/nacos.home_IS_UNDEFINED/
/examples/flash-ocr-demo/models/
